# Bad files
build/*
data/debug.txt
data/error.txt
data/*.exe

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

#idea
.idea

#vs
.vs
*.VC.db
*.sln.DotSettings.user
*.vcxproj.user